@model EquiposTecnicosSN.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-medkit fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="EquiposUsuarioCount" class="big">@Html.DisplayFor(model => model.EquiposFuncionalesCount)</div>
                        <div>Equipos</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "EquiposBase")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Todos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="ODTMantenimientoPreventivoCount" class="big">@Html.DisplayFor(model => model.CorrectivosCount)</div>
                        <div>Mantenimientos Correctivos</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "ODTMantenimientoCorrectivo")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Urgentes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="ODTMantenimientoPreventivoCount" class="big">@Html.DisplayFor(model => model.PreventivosCount)</div>
                        <div>Mantenimientos Preventivos</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "ODTMantenimientoPreventivo")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Próximas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="StockRepuestosCount" class="big">@Html.DisplayFor(model => model.RepuestosCount)</div>
                        <div>Repuestos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Críticos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

</div>
<!-- BUSCAR EQUIPO -->
@Html.Partial("_SearchEquipos", Model.searchEquipo)

<!-- BUSCAR ODT -->
@Html.Partial("_SearchODTs", Model.searchOdt)

<!-- TRASLADAR EQUIPO -->
@Html.Partial("_TrasladarEquipoModal")