@model EquiposTecnicosSN.Web.Models.BuscarEquipoViewModel
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-3">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-medkit fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="EquiposUsuarioCount" class="big">1</div>
                        <div>Equipos</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "EquiposBase")">
                <div class="panel-footer">
                    <span class="pull-left">Ver Todos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="ODTMantenimientoPreventivoCount" class="big"></div>
                        <div>Mantenimientos Correctivos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Urgentes</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="ODTMantenimientoPreventivoCount" class="huge"></div>
                        <div>Mantenimientos Preventivos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Próximas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="StockRepuestosCount" class="huge"></div>
                        <div>Repuestos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Ver Críticos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-search fa-fw"></i> Buscar equipo</div>

            <div class="panel-body">
                <form id="FormBuscar" method="get" data-nqn-ajax="true" action="@Url.Action("SearchEquipos", "Home")" data-nqn-target="#searchResults">

                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre Completo</label>

                                <input class="form-control text-box single-line"
                                       data-umdns-autocomplete-nombre="@Url.Action("AutocompleteNombreUMDNS", "EquiposBase")"
                                       data-val="true"
                                       data-val-maxlength="The field Nombre completo must be a string or array type with a maximum length of '255'."
                                       data-val-maxlength-max="255" data-val-required="The Nombre completo field is required."
                                       id="buscarNombreCompleto"
                                       name="buscarNombreCompleto" type="text" value="@Model.NombreCompleto">

                            </div>

                            <div class="form-group">
                                <label class="control-label">UMDNS</label>
                                <input class="form-control text-box single-line"
                                       data-umdns-autocomplete-codigo="@Url.Action("AutocompleteCodigoUMDNS", "EquiposBase")"
                                       data-val="true"
                                       data-val-maxlength="The field UMDNS must be a string or array type with a maximum length of '255'."
                                       data-val-maxlength-max="255" data-val-required="The UMDNS field is required."
                                       id="buscarUMDNS"
                                       name="buscarUMDNS" type="text" value="@Model.UMDNS">


                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                                @Html.EnumDropDownListFor(model => model.Estado, "Todos", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UbicacionId, "Ubicación", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("UbicacionId", null, "Todas", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SectorId, "Sector", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownList("SectorId", null, "Todas", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeroMatricula, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.NumeroMatricula, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input id="BuscarEquipo" type="submit" value="Buscar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12">                       
                       <div id="searchResults">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
