@model IEnumerable<EquiposTecnicosSN.Entities.Usuarios.SolicitudUsuario>

@{
    ViewBag.Title = "Solicitudes de Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Listado de @ViewBag.Title</div>
            <div class="panel-body">

                <table class="table table-hover table-responsive table-condensed table-striped">
                    <thead>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UbicacionId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ubicacion.Nombre)
                                </td>
                                <td>
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.SolicitudUsuarioId }) |
                                    @Html.ActionLink("Crear Usuario", "CreateUser", new { id = item.SolicitudUsuarioId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
