<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-default navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

@if (Request.IsAuthenticated)
{
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Equipos <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Equipos de Climatización", "Index", "EquiposClimatizacion")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Todos los Equipos", "Index", "EquiposBase")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración <span class="caret"></span></a>
                        <ul class="dropdown-menu">                            
                            <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                            <li>@Html.ActionLink("Ubicaciones", "Index", "Ubicaciones")</li>
                            <li>@Html.ActionLink("Fabricantes", "Index", "Fabricantes")</li>
                            <li>@Html.ActionLink("Marcas", "Index", "Marcas")</li>
                            <li>@Html.ActionLink("Modelos", "Index", "Modelos")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Ordenes de T.", "Index", "OrdenesDeTrabajo")</li>
                    <li>@Html.ActionLink("Mantenimientos", "Index", "Mantenimientos")</li>
                    <li>@Html.ActionLink("Info Comercial", "Index", "InformacionesComerciales")</li>
                    <li>
                        <a href=@Url.Action("Index", "SolicitudesUsuarios")>
                            Solicitudes de Usuario
                            <span class="badge">@{ Html.RenderAction("SolicitudesCount", "SolicitudesUsuarios", null); }</span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
}
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dirección Provincial de Gestión de Recursos Físicos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/myBundle")
    @RenderSection("scripts", required: false)

</body>
</html>
