@model EquiposTecnicosSN.Entities.Equipos.Equipo

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Listado de Mantenimientos</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink("Nuevo", "CreateForEquipo", "Mantenimientos", new { idEquipo = Model.EquipoId }, htmlAttributes: new { @type = "button", @class = "btn btn-primary btn-table-create" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-responsive table-condensed table-striped">
                            <tr>
                                <th>
                                    Nº de Referencia
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Fecha de Inicio
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.HistorialDeMantenimientos)
                            {
                                <tr>
                                    <td class="center">
                                        @Html.DisplayFor(modelItem => item.NumeroReferencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaDeInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", "MantenimientosEquipo", new { id = item.EquipoId }, null) |
                                        @Html.ActionLink("Ver", "Details", "MantenimientosEquipo", new { id = item.EquipoId }, null) |
                                        @Html.ActionLink("Borrar", "Delete", "MantenimientosEquipo", new { id = item.EquipoId }, null) |
                                        @Html.ActionLink("Ver Órdendes", "IndexForMantenimiento", "OrdenesDeTrabajo", new { mantenimientoId = item.MantenimientoId, equipoId = item.EquipoId }, null)
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
