@model EquiposTecnicosSN.Entities.Mantenimiento.SolicitudRepuestoServicio
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </label>
            <p class="form-control-static">
                @Html.DisplayFor(model => model.FechaInicio)
            </p>
        </div>
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.Proveedor)
            </label>
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Proveedor.Nombre)
            </p>
        </div>
    </div>
    <div class="col-md-6">

        <div class="form-group">
            @if (Model.FechaCierre != null)
            {
                <label>
                    @Html.DisplayNameFor(model => model.FechaCierre)
                </label>
                <p class="form-control-static">
                    @Html.DisplayFor(model => model.FechaCierre)
                </p>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>
                @Html.DisplayNameFor(model => model.Comentarios)
            </label>
            <p class="form-control-static">
                @Html.DisplayFor(model => model.Comentarios)
            </p>
        </div>
    </div>
</div>
