@model EquiposTecnicosSN.Entities.Equipos.Equipo


<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EquipoId)

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label" })
                    <input class="form-control text-box single-line"
                           data-sn-autocomplete="@Url.Action("Autocomplete")"
                           data-val="true"
                           data-val-maxlength="The field Nombre completo must be a string or array type with a maximum length of '255'."
                           data-val-maxlength-max="255" data-val-required="The Nombre completo field is required."
                           id="NombreCompleto"
                           name="NombreCompleto" type="text" value="@Model.NombreCompleto">

                    @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UMDNS, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.UMDNS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UMDNS, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label" })
                    @Html.EnumDropDownListFor(model => model.Estado, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UbicacionId, "Ubicación", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("UbicacionId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UbicacionId, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroMatricula, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.NumeroMatricula, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.NumeroMatricula, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

