@model EquiposTecnicosSN.Entities.Mantenimiento.OrdenDeTrabajo
@{
    ViewBag.Title = "Nueva Orden de Trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">@ViewBag.Title</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.OrdenDeTrabajoId)
                    @Html.HiddenFor(model => model.EquipoId)
                    @Html.HiddenFor(model => model.Estado)
                    @Html.HiddenFor(model => model.NumeroReferencia)
                    @Html.HiddenFor(model => model.FechaInicio)
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.FechaInicio)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.FechaInicio)
                                </p>
                            </div>
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.Equipo)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.Equipo.NombreCompleto)
                                </p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.NumeroReferencia)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.NumeroReferencia)
                                </p>
                            </div>

                            <div class="form-group">
                                <label>
                                    @Html.DisplayNameFor(model => model.Equipo.Ubicacion)
                                </label>
                                <p class="form-control-static">
                                    @Html.DisplayFor(model => model.Equipo.Ubicacion.Nombre)
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">¿El equipo se encuentra parado?</label>
                                @Html.EditorFor(model => model.EquipoParado, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a href="@Url.Action("Index")" class="btn btn-default"> Volver</a>
                <input type="submit" name="action" value="Guardar" class="btn btn-primary" />
                <input type="submit" name="action" value="Guardar y diagnosticar" class="btn btn-info" />
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        $(function() {
            $("#EquipoParado").bootstrapSwitch({
                onColor: "danger",
                onText: "Si",
                offText: "No"
            });
        });
    </script>
}