@model IEnumerable<EquiposTecnicosSN.Entities.Mantenimiento.OrdenDeTrabajo>

@{
    ViewBag.Title = "Ordenes de Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Listado de @ViewBag.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink("Nueva Orden", "CreateForMantenimiento", "OrdenesDeTrabajo", routeValues: new { mantenimientoId = ViewBag.MantenimientoId, equipoId = ViewBag.EquipoId }, htmlAttributes: new { @type = "button", @class = "btn btn-primary btn-table-create" })                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">

                        <table class="table table-hover table-responsive table-condensed table-striped">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Diagnostico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Resolucion)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Diagnostico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Resolucion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.OrdenDeTrabajoId }) |
                                        @Html.ActionLink("Ver", "Details", new { id = item.OrdenDeTrabajoId }) |
                                        @Html.ActionLink("Borrar", "Delete", new { id = item.OrdenDeTrabajoId })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div>
    <a href="@Url.Action("Details","EquiposClimatizacion", new { id = ViewBag.EquipoId })">Volver</a>
</div>