@model IEnumerable<EquiposTecnicosSN.Entities.Mantenimiento.Mantenimiento>

@{
    ViewBag.Title = "Mantenimientos de Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Listado de @ViewBag.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink("Nuevo", "Create", null, htmlAttributes: new { @type = "button", @class = "btn btn-primary btn-table-create" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-responsive table-condensed table-striped">
                            <thead>

                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Equipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroReferencia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDeInicio)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaDeFin)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Equipo.NombreCompleto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroReferencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaDeInicio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaDeFin)
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs"
                                           href="@Url.Action("Edit", new { id = item.MantenimientoId })"
                                           title="Editar Mantenimiento">
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                        </a>

                                        <a class="btn btn-default btn-xs"
                                           href="@Url.Action("Details", new { id = item.MantenimientoId })"
                                           title="Ver Mantenimiento">
                                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                        </a>
                                        <a class="btn btn-default btn-xs"
                                           href="@Url.Action("Delete", new { id = item.MantenimientoId })"
                                           title="Eliminar Mantenimiento">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        </a> |
                                        @Html.ActionLink("Ver Órdenes", "Index", "OrdenesDeTrabajo", new { id = item.MantenimientoId }, null)
                                    </td>
                                </tr>
                            }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
