@model EquiposTecnicosSN.Entities.Equipos.EquipoClimatizacion

@{
    ViewBag.Title = "Equipo de Climatización";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        @Html.DisplayFor(model => model)
    </div>
</div>

@if (Model.InformacionHardware != null)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.DisplayFor(model => model.InformacionHardware)
        </div>
    </div>
}

@if (Model.InformacionComercial != null)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.DisplayFor(model => model.InformacionComercial)
        </div>
    </div>
}

@Html.Partial("_MantenimientoEquipoList", Model)

<hr />
@Html.ActionLink("Editar", "Edit", new { id = Model.EquipoId }) |
@Html.ActionLink("Volver", "Index")

